@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --main-font:'Roboto Mono', monospace;
    --hovered-font-clr: #dbeafe;
    --button-bckgrnd-clr: #3b82f6;
  }

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--main-font);
    font-weight: 500;
    background-color: #cbd5e1
   
}

.gameboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard-container.hidden {
    display: none;
}

.gameboard {
    height: 30rem;
    width: 30rem;
    margin-top: 5%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.field {
    border: 1px solid black;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-one {
    border-top: none;
}

.row-three {
    border-bottom: none;
}

.column-one {
    border-left: none;
}

.column-three {
    border-right: none;
}

.new-game {
    /* display: block; */
    display: none;
    margin-top: 5rem;
    padding: 5px 10px;
}

/* Welcom screen */

.welcome-container {
    min-height: 100vh; 
}

.welcome-container.hidden {
    display: none;
}

.choose-mark-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
}

.choose-mark-container {
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choose-box-container {
    height: 28rem;
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
}

.choose-box {
    border: none;
    background-color: #eff6ff;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    font-size: 10rem;
    height: 18rem;
    width: 18rem;
}

.choose-box:hover {
    background-color: var(--button-bckgrnd-clr);
    color: var(--hovered-font-clr);
}

.start-button-container {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button {
    background-color: #eff6ff;
    font-family: var(--main-font);
    border: none;
    width: 200px;
    height: 50px;
    margin: 20px;
}

.start-button:hover {
    background-color: var(--button-bckgrnd-clr);
    color: var(--hovered-font-clr);
    font-weight: 700;
}

.start-button:active {
    background-color: #3b82f6;
}

.restart-button {
    background-color: #eff6ff;
    font-family: var(--main-font);
    border: none;
    width: 200px;
    height: 50px;
    margin: 20px;
}
.restart-button:hover {
    background-color: var(--button-bckgrnd-clr);
    color: var(--hovered-font-clr);
    font-weight: 700;
}


.choose-human-or-ai-ctnr {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-human-or-ai-ctnr.hidden {
    display: none;
}

.choose-enemy {
    background-color: #eff6ff;
    font-family: var(--main-font);
    border: none;
    width: 200px;
    height: 50px;
    margin: 20px;
}

.choose-enemy:hover {
    color: var(--hovered-font-clr);
    background-color: var(--button-bckgrnd-clr);
    font-weight: 700;
}

.choose-enemy:active {
    background-color: #3b82f6;
}