:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--system-ui);
   
}

.gameboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameboard-container.hidden {
    display: none;
}

.gameboard {
    height: 30rem;
    width: 30rem;
    margin-top: 5%;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.field {
    border: 1px solid black;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-one {
    border-top: none;
}

.row-three {
    border-bottom: none;
}

.column-one {
    border-left: none;
}

.column-three {
    border-right: none;
}

.new-game {
    /* display: block; */
    display: none;
    margin-top: 5rem;
    padding: 5px 10px;
}

/* Welcom screen */

.welcome-container {
    background-color: red;
    min-height: 100vh; 
}

.welcome-container.hidden {
    display: none;
}

.choose-mark-text {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
    background-color: aquamarine;
    border: 1px solid black;
}

.choose-mark-container {
    height: 70vh;
    background-color:cornflowerblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choose-box-container {
    height: 28rem;
    display: flex;
    flex-direction: column-reverse;
}

.choose-box {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20rem;
    height: 25rem;
    width: 25rem;
    background-color: aqua;
    cursor: pointer;
}

.start-button-container {
    height: 10vh;
    background-color: darkgrey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-human-or-ai-ctnr {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-human-or-ai-ctnr.hidden {
    display: none;
}

.choose-enemy {
    border: none;
    width: 200px;
    height: 50px;
    margin: 20px;
}